<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        /* Add any custom styles here */
        .custom-file-upload {
            cursor: pointer;
            background-color: #4a5568;
            color: #ffffff;
            border: none;
            border-radius: 0.25rem;
            margin-top: 2%;
            padding: 0.5rem 1rem;   
            transition: background-color 0.3s ease;
        }

        .custom-file-upload:hover {
            background-color: #2d3748;
        }

        /* Progress bar styles */
        .progress {
            width: 100%;
            background-color: #e2e8f0;
            border-radius: 0.25rem;
            overflow: hidden;
        }

        .progress-bar {
            height: 1.5rem;
            background-color: #4c51bf;
            width: <%= `${progressData.percent}%` %>;
        }
    </style>

</head>
<body class="bg-gray-900 text-white min-h-screen flex items-center justify-center">
    <div class="max-w-md w-full p-8 bg-gray-800 shadow-md rounded-lg">
        <h1 class="text-2xl font-bold mb-4"><%= title %></h1>
        <!-- Progress bar -->
        <div class="progress">
            <div class="progress-bar"></div>
        </div>

        <!-- Display progress message -->
        <p class="mt-4"><%= progressData.message %></p>
    </div>
</body>
<script  >
// sse.js

const eventSource = new EventSource('/progress');
eventSource.onmessage = (event) => {
    const progressData = JSON.parse(event.data);
    if (progressData.complete) {
        window.location.href = '/confirmation';
    }
};

</script>
</html>
